.customImage {
  position: absolute;
}

.customImage img {
  position: absolute;
}

.palette {
  position: relative;
  height: 50vh;
  width: 50vh;
}

.frame {
  position: relative;
  z-index: 2;
  width: 50vh;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

.pictureContainer {
  position: absolute;
  width: 55.6%;
  height: 56.9%;
  top: 14.2%;
  left: 21.7%;
  transform: rotate(-0.02deg);
}

.picture {
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
  object-position: center;
  cursor: grab;
}

.caption {
  position: absolute;
  bottom: 19.55%;
  z-index: 2;
  font-size: 1.5vh;
  text-align: center;
  width: 100%;
  transform: rotate(0.02deg);
}

.captionPink {
  color: rgb(179, 86, 94);
}

.captionBlue {
  color: rgb(32, 184, 205);
}

.upload {
  position: absolute;
  width: 55.6%;
  height: 56.9%;
  top: 14.2%;
  left: 21.7%;
  z-index: 2;
  font-size: 1.2vh;
  text-align: center;
  transform: rotate(-0.02deg);
}
